@import "tailwindcss";

/* Hide scrollbars globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

.dark-mode {
  background-color: black;
}

.light-mode {
  background-color: azure;
}